<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Original Content</title>
</head>
<body>
    <h3>slideHeadSec Content:</h3>
    {{ slide_head_sec_content|safe }}
    <h3>caption description Content:</h3>
    {{ caption_description_content|safe }}
    <h3>imgCourtesy Content:</h3>
    {{ img_courtesy_content|safe }}
    <h3>shareBar Content:</h3>
    {{ share_bar_content|safe }}
    <h3>clr Content:</h3>
    {{ clr_content|safe }}
    {{ error }}
</body>
</html>
