<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Nifty 50 Top 50</title>
</head>
<body>

    <h1>Nifty 50 Top 50 Companies</h1>

    <table border="1">
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Last Price</th>
            <th>Change</th>
            <th>Percent Change</th>
            <th>Volume</th>
        </tr>

        {% for company_info in nifty50_data %}
        <tr>
            <td>{{ company_info.symbol }}</td>
            <td>{{ company_info.company_name }}</td>
            <td>{{ company_info.last_price }}</td>
            <td>{{ company_info.change }}</td>
            <td>{{ company_info.percent_change }}</td>
            <td>{{ company_info.volume }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html> -->
