{% extends 'master/masterbase.html' %}
{% load static %}
{% block title %}Welcome Dashboard{% endblock %}
{% block content %}

<div class="flex flex-col gap-5 min-h-[calc(100vh-188px)] sm:min-h-[calc(100vh-204px)]">
                            
    <div class="grid grid-cols-1 gap-4 flex-1" x-data="email">
        <div class="flex gap-5 items-stretch relative overflow-hidden" x-data="{activeTab:'profile'}">
            <!-- ==================BUTTONS================= -->
            <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg p-5 absolute w-[240px] z-20 flex-none -left-[410px] xl:static overflow-hidden overflow-y-auto h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]" :class="isShowChatMenu && '!left-0'">
                <div class="flex flex-col space-y-5">
                    <button @click="activeTab = 'profile'" :class="activeTab === 'profile' ? 'bg-primary text-white' : 'bg-gray/[8%] text-gray hover:bg-primary hover:text-white'" class="flex duration-300 p-5 text-sm/none font-semibold items-center gap-3 rounded-lg">Personal & contact details</button>
                    <button @click="activeTab = 'notification'" :class="activeTab === 'notification' ? 'bg-primary text-white' : 'bg-gray/[8%] text-gray hover:bg-primary hover:text-white'" class="flex duration-300 p-5 text-sm/none font-semibold items-center gap-3 rounded-lg">Profile</button>
                    <button @click="activeTab = 'plan'" :class="activeTab === 'plan' ? 'bg-primary text-white' : 'bg-gray/[8%] text-gray hover:bg-primary hover:text-white'" class="flex duration-300 p-5 text-sm/none font-semibold items-center gap-3 rounded-lg">Edit Profile</button>
                    <button @click="activeTab = 'pw'" :class="activeTab === 'pw' ? 'bg-primary text-white' : 'bg-gray/[8%] text-gray hover:bg-primary hover:text-white'" class="flex duration-300 p-5 text-sm/none font-semibold items-center gap-3 rounded-lg">Password & Security</button>
                </div>
            </div>

            <div class="bg-transparent lg:hidden z-[5] w-full h-full absolute hidden" :class="isShowChatMenu && '!block xl:!hidden'" @click="isShowChatMenu = !isShowChatMenu"></div>
            <!-- ============PROFILE============ -->
            <div x-show="activeTab === 'profile'" class="flex flex-row items-start gap-4 relative w-full">
                <div class="w-full flex flex-col flex-1 rounded-lg overflow-y-auto h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]">
                    <div class="flex items-center gap-5">
                        <button type="button" class="xl:hidden hover:text-primary duration-300" @click="isShowChatMenu = !isShowChatMenu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="3" y="17.2" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect opacity="0.5" x="3" y="11.6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect x="3" y="6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                            </svg>
                        </button>
                        <h3 class="text-lg font-semibold">Personal details</h3>
                    </div>
                   
                    <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg mt-[30px]">
                        <div class="flex items-center gap-2 justify-between p-5">
                            <div>
                                <h5 class="font-semibold">My Details</h5>
                                <p class="text-gray mt-2">Basic Information</p>
                            </div>  
                        </div>
                <!-- ========================CAR1======================== -->
                        <div class="bg-gray/[0.14] p-5 dark:border-gray/20 border-t-2 border-lightgray/5">
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 10C20 11.2029 18.2865 12.1106 17.8192 13.2394C17.3692 14.3279 17.9558 16.1865 17.0712 17.0712C16.1865 17.9558 14.3279 17.3692 13.2394 17.8192C12.1154 18.2865 11.2019 20 10 20C8.79808 20 7.88462 18.2865 6.76058 17.8192C5.67212 17.3692 3.81346 17.9558 2.92885 17.0712C2.04423 16.1865 2.63077 14.3279 2.18077 13.2394C1.71346 12.1154 0 11.2019 0 10C0 8.79808 1.71346 7.88462 2.18077 6.76058C2.63077 5.67308 2.04423 3.81346 2.92885 2.92885C3.81346 2.04423 5.67308 2.63077 6.76058 2.18077C7.88942 1.71346 8.79808 0 10 0C11.2019 0 12.1154 1.71346 13.2394 2.18077C14.3279 2.63077 16.1865 2.04423 17.0712 2.92885C17.9558 3.81346 17.3692 5.67212 17.8192 6.76058C18.2865 7.88942 20 8.79808 20 10Z" fill="#00D085"/>
                                            <path d="M13.8045 7.1955C13.8665 7.25741 13.9156 7.33093 13.9492 7.41185C13.9827 7.49277 14 7.57952 14 7.66712C14 7.75472 13.9827 7.84146 13.9492 7.92238C13.9156 8.0033 13.8665 8.07682 13.8045 8.13873L9.13835 12.8049C9.07644 12.8669 9.00293 12.916 8.922 12.9496C8.84108 12.9831 8.75434 13.0004 8.66674 13.0004C8.57914 13.0004 8.4924 12.9831 8.41147 12.9496C8.33055 12.916 8.25703 12.8669 8.19513 12.8049L6.19535 10.8051C6.07027 10.68 6 10.5104 6 10.3335C6 10.1566 6.07027 9.98695 6.19535 9.86187C6.32043 9.73679 6.49007 9.66652 6.66696 9.66652C6.84385 9.66652 7.0135 9.73679 7.13858 9.86187L8.66674 11.3909L12.8613 7.1955C12.9232 7.13352 12.9967 7.08436 13.0776 7.05081C13.1585 7.01727 13.2453 7 13.3329 7C13.4205 7 13.5072 7.01727 13.5881 7.05081C13.6691 7.08436 13.7426 7.13352 13.8045 7.1955Z" fill="white"/>
                                        </svg>
                                        UserID:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>sadas34</p>
                                </div>
                            </div>
                        </div>
                        <!-- ------------PAN-------------- -->
                        <div class="bg-gray/[0.14] p-5 dark:border-gray/20 border-t-2 border-lightgray/5">
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                        PAN:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p id="panNumber">*********</p>
                                    <button onclick="toggleVisibility()" class="text-primary">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 14">
                                            <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                                <path d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z"/>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                            function toggleVisibility() {
                                var panElement = document.getElementById("panNumber");
                                panElement.innerHTML = panElement.innerHTML === "************" ? "+++++++" : "************";
                            }
                        </script>
            <!-- ========================ENDCAR1======================== -->
                        <!-- -------------------------- -->
                        <div class="flex items-center gap-2 justify-between p-5">
                            <div>
                                <p class="text-gray mt-2">Contact information</p>
                            </div>  
                        </div>
            <!-- ========================CAR2======================== -->
                        <!-- -------------------------- -->
                        {% for master_account in master_personal_details %}
                        <div class="bg-gray/[0.14] p-5 dark:border-gray/20 border-t-2 border-lightgray/5">
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        Mobile number:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                        <p>{{ master_account.phone }}</p>
                                    <a href="javascript:;" class="text-primary">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray/[0.14] p-5 dark:border-gray/20 border-t-2 border-lightgray/5">
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                        Email address:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{ master_account.email }}</p>
                                    <a href="javascript:;" class="text-primary">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray/[0.14] p-5 dark:border-gray/20 border-t-2 border-lightgray/5">
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                        Address:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{ master_account.address }}</p>
                                    <a href="javascript:;" class="text-primary">Edit</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
            <!-- ========================ENDCAR2======================== -->
            <!-- ========================CAR3======================== -->
                    <div class="flex items-center gap-2 justify-between p-5">
                        <div>
                            <p class="text-gray mt-2">Demat Details</p>
                        </div>  
                    </div>
                    <div class="bg-gray/[0.14] p-5 dark:border-gray/20 border-t-2 border-lightgray/5">
                        <div class="flex items-center justify-between flex-wrap gap-y-3">
                            <div class="flex items-center gap-2">
                                <div class="flex items-center gap-2.5 text-sm">
                                
                                    Demat account number:
                                </div>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <p>2131231243546546456</p>
                            </div>
                        </div>
                    </div>
            <!-- ========================ENDCAR2======================== -->
            
                </div>
            </div>
            <div x-show="activeTab === 'notification'" x-data="{selectedMail: false}" class="flex flex-row items-start gap-4 relative w-full h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]">
                <div class="w-full flex flex-col flex-1 rounded-lg overflow-y-auto h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]">
                    <div class="flex items-center gap-5">
                        <button type="button" class="xl:hidden hover:text-primary duration-300" @click="isShowChatMenu = !isShowChatMenu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="3" y="17.2" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect opacity="0.5" x="3" y="11.6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect x="3" y="6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                            </svg>
                        </button>
                        <h3 class="text-lg font-semibold">Profile</h3>
                    </div>
                    <div class="mt-[30px] space-y-5">

                        <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg p-5 space-y-4">
                            {% for i in master_personal_details %}
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        Full Name:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.full_name}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                        Date of birth:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.date_of_birth}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        Gender:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.gender}} </p>
                                </div>
                            </div>
                       
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                    Pincode:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.pincode}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        District:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.district}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        State:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.state}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        Occupation:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.occupation}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        Parent name:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.parent_name}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        Nominee name:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.nominee_name}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex items-center justify-between flex-wrap gap-y-3">
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2.5 text-sm">
                                    
                                        Nominee relationship:
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <p>{{i.nominee_relationship}} </p>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div x-show="activeTab === 'plan'" x-data="{selectedMail: false}" class="flex flex-row items-start gap-4 relative w-full h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]">
                <div class="w-full flex flex-col flex-1 rounded-lg overflow-y-auto h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]">
                    <div class="flex items-center gap-5">
                        <button type="button" class="xl:hidden hover:text-primary duration-300" @click="isShowChatMenu = !isShowChatMenu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="3" y="17.2" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect opacity="0.5" x="3" y="11.6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect x="3" y="6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                            </svg>
                        </button>
                        <h3 class="text-lg font-semibold">Edit Profile</h3>
                    </div>
                    <div class="mt-[30px]">
                        <div class="flex flex-wrap items-center gap-5 p-5 border-2 border-gray/[0.14] rounded-lg" style="background: linear-gradient(90.17deg, rgba(48, 154, 252, 0.1) -3.08%, rgba(87, 84, 255, 0.1) 31.4%, rgba(255, 81, 164, 0.1) 65.89%, rgba(255, 124, 81, 0.1) 100.37%);">
                            {% for i in master_personal_details %}
                                {% if i.profile_image %}
                                    <img src="{{ i.profile_image.url }}" class="shrink-0 rounded-full" alt="">
                                {% else %}
                                    <p>No profile image available</p>
                                {% endif %}
                            {% endfor %}
                        
                            <div class="flex items-center gap-5 flex-wrap">
                                <button type="button" class="btn bg-dark dark:bg-white dark:text-dark dark:border-white border border-dark rounded-md text-white transition-all duration-300 hover:bg-dark/[0.85] hover:border-dark/[0.85]">Upload new picture</button>
                                <button type="button" class="btn border border-transparent rounded-md transition-all duration-300 bg-gray/10 text-gray hover:bg-primary hover:text-white">Delete</button>
                            </div>
                        </div>
                        <form method="post" enctype="multipart/form-data" class="mt-5 grid grid-cols-1 sm:grid-cols-2 gap-5">
                            {% csrf_token %}
                            <input type="text" name="full_name" value="{{ edit_master_account.full_name }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Full Name" required="">
                            <input type="email" name="email" value="{{ edit_master_account.email }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Email" required="">
                            <div class="flex items-stretch gap-5">
                                <div class="form-select !w-full h-14 rounded-[10px] flex items-center justify-center">
                                    <p class="text-center">{{ edit_master_account.date_of_birth }}</p>
                                </div>
                            </div>             
                            <input type="date" name="date_of_birth" value="{{ edit_master_account.date_of_birth }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Phone number" required="">
                            <select name="gender" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white">
                                <option value="male" {% if master_account.gender == 'male' %}selected{% endif %}>Male</option>
                                <option value="female" {% if master_account.gender == 'female' %}selected{% endif %}>Female</option>
                            </select>                         
                            <input type="text" name="phone" value="{{ edit_master_account.phone }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Date of birth" required="">
                            <input type="text" name="address" value="{{ edit_master_account.address }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="City" required="">
                            <input type="number" name="pincode" value="{{ edit_master_account.pincode }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="State" required="">
                            <input type="text" name="district" value="{{ edit_master_account.district }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Zip code" required="">
                            <input type="text" name="state" value="{{ edit_master_account.state }}"  class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Country" required="">
                            <input type="text" name="occupation" value="{{ edit_master_account.occupation }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Country" required="">
                            <input type="text" name="parent_name" value="{{ edit_master_account.parent_name}}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Country" required="">
                            <input type="text" name="nominee_name" value="{{ edit_master_account.nominee_name }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Country" required="">
                            <input type="text" name="nominee_relationship" value="{{ edit_master_account.nominee_relationship }}" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Country" required="">
                            <input type="submit"  class="btn mt-2.5 max-w-[200px] h-14 bg-primary border border-primary rounded-md text-white transition-all duration-300 hover:bg-primary/[0.85] hover:border-primary/[0.85]" value="save">
                        </form>
                    </div>
                </div>
            </div>


            <div x-show="activeTab === 'pw'" x-data="{selectedMail: false}" class="flex flex-row items-start gap-4 relative w-full h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]">
                <div class="w-full flex flex-col flex-1 rounded-lg overflow-y-auto h-[calc(100vh-188px)] sm:h-[calc(100vh-204px)]">
                    <div>
                        <button type="button" class="xl:hidden hover:text-primary duration-300" @click="isShowChatMenu = !isShowChatMenu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="3" y="17.2" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect opacity="0.5" x="3" y="11.6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect x="3" y="6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                            </svg>
                        </button>
                    </div>
                    <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg p-5 space-y-4">
                        <h3 class="text-lg font-semibold">Password</h3>
                        <form class="mt-[30px] grid grid-cols-1 sm:grid-cols-2 gap-5">
                            <input type="password" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="New Password" required="">
                            <input type="password" class="form-input rounded-[10px] h-14 placeholder:text-dark dark:placeholder:text-white" placeholder="Confirm Password" required="">
                            <div class="sm:col-span-2 text-end">
                                <input type="submit" class="btn mt-2.5 w-full max-w-[200px] h-14 bg-primary border border-primary rounded-md text-white transition-all duration-300 hover:bg-primary/[0.85] hover:border-primary/[0.85]" value="save">
                            </div>
                        </form>
                    </div>
                    <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg p-5 mt-5">
                        <h3 class="text-lg font-semibold">Security</h3>
                        <p class="text-gray mt-[30px]">
                            Enter the authentication code below we sent to <span class="text-primary font-bold block mt-4">+1 603-756-4530</span>
                        </p>
                        <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg mt-[30px]">
                            <div class="flex items-center gap-2 justify-between p-5">
                                <div>
                                    <h5 class="font-semibold">Text Message</h5>
                                    <p class="text-gray mt-2">Use your mobile phone to receive security codes.</p>
                                </div>
                                <div class="togglebutton setting inline-block">
                                    <label for="toggleD7" class="flex items-center cursor-pointer">
                                        <div class="relative">
                                            <input type="checkbox" id="toggleD7" class="sr-only" checked>
                                            <div class="block band bg-gray/50 w-7 h-4 rounded-full"></div>
                                            <div class="dot absolute left-1 top-1/2 -translate-y-1/2 right-0 bg-white w-2.5 h-2.5 rounded-full transition"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bg-gray/[0.14] p-5 dark:border-gray/20 border-t-2 border-lightgray/5">
                                <div class="flex items-center justify-between flex-wrap gap-y-3">
                                    <div class="flex items-center gap-2">
                                        <div class="flex items-center gap-2.5 text-sm">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 11.2029 18.2865 12.1106 17.8192 13.2394C17.3692 14.3279 17.9558 16.1865 17.0712 17.0712C16.1865 17.9558 14.3279 17.3692 13.2394 17.8192C12.1154 18.2865 11.2019 20 10 20C8.79808 20 7.88462 18.2865 6.76058 17.8192C5.67212 17.3692 3.81346 17.9558 2.92885 17.0712C2.04423 16.1865 2.63077 14.3279 2.18077 13.2394C1.71346 12.1154 0 11.2019 0 10C0 8.79808 1.71346 7.88462 2.18077 6.76058C2.63077 5.67308 2.04423 3.81346 2.92885 2.92885C3.81346 2.04423 5.67308 2.63077 6.76058 2.18077C7.88942 1.71346 8.79808 0 10 0C11.2019 0 12.1154 1.71346 13.2394 2.18077C14.3279 2.63077 16.1865 2.04423 17.0712 2.92885C17.9558 3.81346 17.3692 5.67212 17.8192 6.76058C18.2865 7.88942 20 8.79808 20 10Z" fill="#00D085"/>
                                                <path d="M13.8045 7.1955C13.8665 7.25741 13.9156 7.33093 13.9492 7.41185C13.9827 7.49277 14 7.57952 14 7.66712C14 7.75472 13.9827 7.84146 13.9492 7.92238C13.9156 8.0033 13.8665 8.07682 13.8045 8.13873L9.13835 12.8049C9.07644 12.8669 9.00293 12.916 8.922 12.9496C8.84108 12.9831 8.75434 13.0004 8.66674 13.0004C8.57914 13.0004 8.4924 12.9831 8.41147 12.9496C8.33055 12.916 8.25703 12.8669 8.19513 12.8049L6.19535 10.8051C6.07027 10.68 6 10.5104 6 10.3335C6 10.1566 6.07027 9.98695 6.19535 9.86187C6.32043 9.73679 6.49007 9.66652 6.66696 9.66652C6.84385 9.66652 7.0135 9.73679 7.13858 9.86187L8.66674 11.3909L12.8613 7.1955C12.9232 7.13352 12.9967 7.08436 13.0776 7.05081C13.1585 7.01727 13.2453 7 13.3329 7C13.4205 7 13.5072 7.01727 13.5881 7.05081C13.6691 7.08436 13.7426 7.13352 13.8045 7.1955Z" fill="white"/>
                                            </svg>
                                            Verified August 10, 2022
                                    
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-2 text-sm">
                                        <p>+91 65982 65421</p>
                                        <a href="javascript:;" class="text-primary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg p-5 mt-5">
                            <h5 class="font-semibold">Google Authenticator</h5>
                            <p class="text-gray mt-2">Use the google authenticator app to generate one time security codes.</p>
                        </div>
                        <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg p-5 mt-5">
                            <h5 class="font-semibold">Duo Security</h5>
                            <p class="text-gray mt-2">Use the Duo Security app to generate a push notification to your device.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}